@using SubmissionEvaluation.Shared.Classes.Messages
@using SubmissionEvaluation.Shared.Classes
@using System.Net.Http.Json
@inject NavigationManager navi
@inject HttpClient httpClient
@inject IJSRuntime runtime
<button @onclick="Download" class="@Class" title="@title">@((MarkupString) content)</button>

@code {

    [Parameter]
    public string Class { get; set; }

    [Parameter]
    public string title { get; set; }

    [Parameter]
    public string content { get; set; }

    [Parameter]
    public string Id { get; set; }

    [Parameter]
    public string SubId { get; set; }

    [Parameter]
    public bool TwoIds { get; set; }

    [Parameter]
    public string URL { get; set; }

    [Parameter]
    public string FileName { get; set; }

    public async void Download()
    {
        if (Id == null || TwoIds && SubId == null)
        {
            navi.NavigateTo($"Home/Error/{ErrorMessages.IdError}");
        }
        DownloadInfo info;
        if (TwoIds)
        {
            info = await httpClient.GetFromJsonAsync<DownloadInfo>($"{URL}/{Id}/{SubId}");
        }
        else
        {
            info = await httpClient.GetFromJsonAsync<DownloadInfo>($"{URL}/{Id}");
        }
        if (info.Data != null)
        {
            await runtime.InvokeAsync<object>("saveAsFile", FileName, Convert.ToBase64String(info.Data));
        }
        else
        {
            navi.NavigateTo($"Home/Error/{info.ErrorMessage}");
        }
    }

}
