@using System.Net.Http.Json
@inject HttpClient HttpClient
@inject NavigationManager NavigationManager

<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)"/>
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">
            <p>Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>

@code{

    protected override async Task OnInitializedAsync()
    {
        var isLoggedIn = await HttpClient.GetFromJsonAsync<bool>("api/Account/loggedin");
        if (!isLoggedIn)
        {
            NavigationManager.NavigateTo("Account/Login");
        }
    }

}
