@page "/Group/Edit/{groupId}"

@using System.Net.Http.Json
@using Challenge = SubmissionEvaluation.Contracts.ClientPocos.Challenge
@using Group = SubmissionEvaluation.Contracts.ClientPocos.Group
@using Member = SubmissionEvaluation.Contracts.ClientPocos.Member
@using SubmissionEvaluation.Client.Shared.Components.Groups
@using SubmissionEvaluation.Shared.Models.Admin
@using SubmissionEvaluation.Shared.Models.Permissions
@using SubmissionEvaluation.Shared.Classes
@using SubmissionEvaluation.Shared.Classes.Messages

@inject HttpClient HttpClient
@inject NavigationManager Navi

<div>
    <div class="post-area">
        @if (Model != null)
        {
            <div class="post-header">
                Gruppe "@Model.Title" bearbeiten
            </div>
            <div class="card-body challenge-creation-panel">
                <EditForm Model="Model" Context="formContext" id="challengeform" enctype="multipart/form-data">
                    <ValidationSummary/>
                    <DataAnnotationsValidator/>
                    <div class="card-body challenge-creation-panel">
                        <MessageHeader Model="Model"/>

                        <div id="project-group" class="form-group">
                            <h4 class="col-form-label">ID (Ändern nicht mehr möglich)</h4>
                            @if (Permissions.IsAdmin)
                            {
                                <a href=@($"Group/Edit/Rename/{Model.Id}")>Umbenennen</a>
                            }
                            <input readonly class="form-control" @bind-value="Model.Id"/>
                        </div>

                        <EditGroupFieldsPartial Model="Model"/>

                        <button id="btnSave" name="command" type="submit" value="Save" class="btn btn-outline-dark btn-block text-center input-field-padding" @onclick='e => SendModelToServer(formContext, "Save")'><span class="oi oi-book"></span> Gruppe speichern </button>
                        <button id="btnSaveAndClose" name="command" type="submit" value="SaveAndClose" class="btn btn-outline-dark btn-block text-center input-field-padding" @onclick='() => SendModelToServer(formContext, "SaveAndClose")'><span class="oi oi-book"></span> Gruppe speichern und zurück</button>
                    </div>
                </EditForm>
            </div>
        }
        else
        {
            <Wave />
        }
    </div>
</div>

@code {

    [Parameter]
    public string GroupId { get; set; }

    GroupModel<Challenge, Member, Group> Model { get; set; }
    SettingsModel UserSettings { get; set; }
    Permissions Permissions { get; set; }

    protected override async void OnInitialized()
    {
        Permissions = await HttpClient.GetFromJsonAsync<Permissions>("api/Members/Permissions");
        if (!PermissionHelper.CheckPermissions(Actions.Edit, "Groups", Permissions, Restriction.Groups, GroupId))
        {
            Navi.NavigateTo($"Home/Error/{ErrorMessages.NoPermission}");
        }
        Model = await HttpClient.GetFromJsonAsync<GroupModel<Challenge, Member, Group>>($"api/Group/EditGroup/{GroupId}");
        Model.SelectableAvailableChallenges.Sort((x, y) => string.Compare(x.Title, y.Title, StringComparison.Ordinal));
        Model.AvailableChallenges.Sort();
        Model.ForcedChallenges.Sort();
        StateHasChanged();
    }

    async void SendModelToServer(EditContext editContext, string command)
    {
        if (!editContext.Validate()) { return; }

        var responseMessage = await HttpClient.PostAsJsonAsync("api/Group/EditGroup", Model);
        if (responseMessage.IsSuccessStatusCode)
        {
            Model = await responseMessage.Content.ReadFromJsonAsync<GroupModel<Challenge, Member, Group>>();
        }
        if (Model.HasSuccess && command.Equals("SaveAndClose"))
        {
            Navi.NavigateTo("Groups");
        }
        else
        {
            StateHasChanged();
        }
    }

}
