@using System.Net.Http.Json
@inject HttpClient httpClient
@inject IToastService toaster
@inject NavigationManager navi
@using SubmissionEvaluation.Client.Shared.Components.Account

<div hidden="@(Step != 2)">
    <RegisterComponent Model="Model" Features="Features" SendRegistration="SendRegistration"/>
</div>

@code {

    [Parameter]
    public int Step { get; set; }

    [Parameter]
    public string securityToken { get; set; }

    RegisterModel Model { get; set; } = new RegisterModel();
    FeatureSettings Features { get; set; } = new FeatureSettings();

    protected override async void OnInitialized()
    {
        Features = await httpClient.GetFromJsonAsync<FeatureSettings>("api/Account/getSettings");
        StateHasChanged();
    }

    async void SendRegistration()
    {
        var responseMessage = await httpClient.PostAsJsonAsync<RegisterAdminTupel>("api/Setup/RegisterFirstAdmin", new RegisterAdminTupel(Model, securityToken));
        if (responseMessage.IsSuccessStatusCode)
        {
            var result = await responseMessage.Content.ReadFromJsonAsync<GenericModel>();
            if (!result.HasSuccess)
            {
                toaster.ShowError(result.MessageTranslation);
            }
            else
            {
                navi.NavigateTo("Account/Login");
            }
        }
    }

}
