@using System.Net.Http.Json
@using SubmissionEvaluation.Client.Shared.Components.Account

@inject HttpClient HttpClient
@inject IToastService Toaster
@inject NavigationManager Navi

<div hidden="@(Step != 2)">
    <RegisterComponent Model="Model" Features="Features" SendRegistration="SendRegistration"/>
</div>

@code {

    [Parameter]
    public int Step { get; set; }

    [Parameter]
    public string SecurityToken { get; set; }

    RegisterModel Model { get; set; } = new RegisterModel();
    FeatureSettings Features { get; set; } = new FeatureSettings();

    protected override async void OnInitialized()
    {
        Features = await HttpClient.GetFromJsonAsync<FeatureSettings>("api/Account/getSettings");
        StateHasChanged();
    }

    async void SendRegistration()
    {
        var responseMessage = await HttpClient.PostAsJsonAsync("api/Setup/RegisterFirstAdmin", new RegisterAdminTupel(Model, SecurityToken));
        if (responseMessage.IsSuccessStatusCode)
        {
            var result = await responseMessage.Content.ReadFromJsonAsync<GenericModel>();
            if (!result.HasSuccess)
            {
                Toaster.ShowError(result.MessageTranslation);
            }
            else
            {
                Navi.NavigateTo("Account/Login");
            }
        }
    }

}
