@page "/Help/Review"

<h3>Review</h3>

Jede eingereichte Lösung kann von anderen Benutzern der Plattform mit ausreichend gesammelter Erfahrung
nach verschiedenen Kriterien bewertet werden was dem Einreichenden dann ein Feedback gibt was noch zu verbessern ist.

@code {

}
