<NavLink class="dropdown-item" href="Account/Login" @onclick="ParentAction"> <span class="oi oi-sign-in-alt"></span> Login</NavLink>

@code {

    [Parameter]
    public Action ParentAction { get; set; }

}
