@page "/Admin/AddUser"
@using System.Net.Http.Json
@using SubmissionEvaluation.Shared.Models.Admin
@using SubmissionEvaluation.Shared.Classes.Messages
@inject HttpClient HttpClient
@inject NavigationManager NavigationManager

<div class="input-field-padding add-user-form" style="margin-top: 20px;">
    <h3>Neuen Nutzer erstellen</h3>
    @if (Model != null)
    {
        <EditForm OnValidSubmit="CreateUser" Model="@Model">
            <ValidationSummary/>
            <DataAnnotationsValidator/>
            <div class="flex-column" style="margin-top: 20px">
                <div id="title-group" class="form-group">
                    <label class="col-form-label">Uid:</label>
                    <InputText @bind-Value="Model.Name" class="form-control add-user"/>
                    <ValidationMessage For="@(() => Model.Name)"/>
                </div>
                <div id="title-group" class="form-group">
                    <label class="col-form-label">Password:</label>
                    <InputText @bind-Value="Model.Password" class="form-control add-user" type="password"/>
                    <ValidationMessage For="@(() => Model.Password)"/>
                </div>
                <div id="title-group" class="form-group">
                    <label class="col-form-label">Mail:</label>
                    <InputText @bind-Value="Model.Mail" class="form-control add-user"/>
                    <ValidationMessage For="@(() => Model.Mail)"/>
                </div>
            </div>
            <input class="btn btn-warning" type="submit" name="Submit" id="Submit" value="Anlegen"/>
        </EditForm>
    }
</div>


@code {
    AddTempUserModel Model { get; } = new AddTempUserModel();

    protected override async void OnInitialized()
    {
        var userSettings = await HttpClient.GetFromJsonAsync<SettingsModel>("api/Account/getusersettings");
        if (!userSettings.Roles.Contains("admin"))
        {
            NavigationManager.NavigateTo($"Home/Error/{ErrorMessages.NoPermission}");
        }
    }

    async void CreateUser()
    {
        var res = await HttpClient.PostAsJsonAsync("api/Admin/AddUser", Model);
        if (!res.IsSuccessStatusCode) return;

        var result = await res.Content.ReadFromJsonAsync<GenericModel>();
        if (result.HasSuccess)
        {
            NavigationManager.NavigateTo("Admin/Users");
        }
    }

}
