@page "/Admin/ConfirmAction/{Id}/{actionName}"
@using System.Net.Http.Json
@using SubmissionEvaluation.Shared.Models.Admin
@using SubmissionEvaluation.Shared.Classes.Messages
@inject HttpClient HttpClient
@inject NavigationManager Navi

<div class="row">
    <div class="col-12">
        <div class="post-area post">
            @if (Model != null)
            {
                <p>@Model.ActionMessage</p>
            }
            <button @onclick="DoAction" style="margin-left: 2pt" class="btn btn-danger btn-margin col-3">Aktion durchführen</button>
            <button @onclick="GoBack" style="margin-left: 2pt" class="btn btn-outline-dark btn-margin col-3">Aktion nicht durchführen</button>
        </div>
    </div>
</div>

@code {

    [Parameter]
    public string Id { get; set; }

    [Parameter]
    public string ActionName { get; set; }

    ConfirmActionModel Model { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var userSettings = await HttpClient.GetFromJsonAsync<SettingsModel>("api/Account/getusersettings");
        if (!userSettings.Roles.Contains("admin"))
        {
            Navi.NavigateTo($"Home/Error/{ErrorMessages.NoPermission}");
        }
        Model = await HttpClient.GetFromJsonAsync<ConfirmActionModel>($"api/Admin/ConfirmActionModel/{Id}/{ActionName}");
    }

    async void DoAction()
    {
        switch (ActionName)
        {
            case "ResetMemberPassword":
                Navi.NavigateTo($"Admin/ResetMemberPassword/{Id}");
                break;
            case "DeleteGroup":
                var responseMessage = await HttpClient.PostAsJsonAsync("api/Group/DeleteGroup", Id);
                Model = await CheckForSuccess(responseMessage);
                if (Model.HasSuccess)
                {
                    Navi.NavigateTo("Groups");
                }
                break;
            default:
                responseMessage = await HttpClient.PostAsJsonAsync($"api/Admin/{ActionName}", Id);
                Model = await CheckForSuccess(responseMessage);
                if (Model.HasSuccess)
                {
                    Navi.NavigateTo("Admin/Users");
                }
                break;
        }
        StateHasChanged();
    }

    async Task<ConfirmActionModel> CheckForSuccess(HttpResponseMessage message)
    {
        if (message.IsSuccessStatusCode)
        {
            return await message.Content.ReadFromJsonAsync<ConfirmActionModel>();
        }
        return Model;
    }

    void GoBack()
    {
        switch (ActionName)
        {
            case "ResetMemberPassword":
                Navi.NavigateTo("Admin/Users");
                break;
            case "DeleteGroup":
                Navi.NavigateTo("Admin/Groups");
                break;
            default:
                Navi.NavigateTo("Admin/Users");
                break;
        }
    }

}
