@page "/Admin/ResetMemberPassword/{memberId}"
@using System.Net.Http.Json
@using Member = SubmissionEvaluation.Contracts.ClientPocos.Member
@using SubmissionEvaluation.Shared.Models.Admin
@using SubmissionEvaluation.Shared.Classes.Messages

@inject HttpClient HttpClient
@inject NavigationManager Navi

<div class="row">
    <div class="col-12">
        @if (Model != null)
        {
            <div class="post-area post">
                <h1>Passwort für @Model.Member.Name zurückgesetzt</h1>
                <code>@Model.Password</code>
            </div>
        }
        else
        {
            <div class="post-area post">
                <span>Scheinbar gab es einen Fehler. Das Passwort konnte nicht zurückgesetzt werden.</span>
            </div>
        }
    </div>
</div>

@code {

    [Parameter]
    public string MemberId { get; set; }

    ResetPasswordModel<Member> Model { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var userSettings = await HttpClient.GetFromJsonAsync<SettingsModel>("api/Account/getusersettings");
        if (!userSettings.Roles.Intersect(new []{"admin", "groupAdmin"}).Any())
        {
            Navi.NavigateTo($"Home/Error/{ErrorMessages.NoPermission}");
        }
        var responseMessage = await HttpClient.PostAsJsonAsync("api/Admin/ResetMemberPassword", MemberId);
        if (responseMessage.IsSuccessStatusCode)
        {
            Model = await responseMessage.Content.ReadFromJsonAsync<ResetPasswordModel<Member>>();
        }
    }

}
