@using System.Net.Http.Json
@using SubmissionEvaluation.Client.Services
@using SubmissionEvaluation.Shared.Classes
@using SubmissionEvaluation.Shared.Models.Shared

@inject FileExplorerDomain Domain
@inject IToastService ToastService
@inject HttpClient HttpClient
@inject IJSRuntime JsRuntime
@inject NavigationManager Navi

<div hidden="@Hidden">
    <div style="display: flex;">
        <div class="file-view-left explorer file-view">
            <img src="images/file.png"/>
        </div>
        <div class="file-view-right explorer file-view">
            <label>Filename:</label>
            <InputText @bind-Value="Name"/>
            <div>
                <InputCheckbox @bind-Value="FileIsHidden"></InputCheckbox>hidden
                <InputCheckbox @bind-Value="FileIsDelete"></InputCheckbox>delete
            </div>
            <!-- Is null, if it is no test and therefore you cannot modify the date.-->
            @if (Domain.FlatFiles != null)
            {
                <label>Last Modified dd.MM.yyyy hh:mm:ss</label>
                <InputText @bind-Value="LastModifiedHolder"/>
            }
            @if (!(File is DetailedInputFile))
            {
                <button @onclick="DownloadFile" title="Download" class="btn btn-outline-dark btn-margin btn-block"><span class="oi oi-data-transfer-download"></span>Download</button>
            }
            else
            {
                <button @onclick="ShowDownloadDisabledPrompt" title="Download" class="btn btn-outline-dark btn-margin btn-block disabled"><span class="oi oi-data-transfer-download"></span>Download</button>
            }
            <div>
                <button type="button" @onclick="SaveChanges" class="btn btn-outline-dark newFolderButtonFlexed">Speichern</button>
                <button type="button" @onclick="Abort" class="btn btn-outline-dark newFolderButtonFlexed">Abbrechen</button>
            </div>
        </div>
    </div>
</div>

@code {

    [Parameter]
    public File File { get; set; } = new File();

    [Parameter]
    public bool Hidden { get; set; }

    [Parameter]
    public string DownloadUrl { get; set; }

    private bool FileIsHidden { get; set; } = false;
    private bool FileIsDelete { get; set; } = false;
    private string Name { get; set; }
    private string LastModifiedHolder { get; set; }

    protected override void OnParametersSet()
    {
        Name = File.Name;
        if (File.Path != null)
        {
            FileIsHidden = File.Path.StartsWith("_") ? true : false;
        }
        FileIsDelete = File.IsDelete;
        if (File.LastModified == null)
        {
            File.LastModified = Domain.FlatFiles?.Where(x => x.OriginalName.Equals(File.Path + File.OriginalName)).FirstOrDefault()?.LastModified;
        }
        LastModifiedHolder = File.LastModified;
        base.OnParametersSet();
    }

    private void SaveChanges()
    {
        if (InputButtonHelper.CheckValidity(Domain.Files, Domain.NewFiles, Name, File))
        {
            if (LastModifiedHolder != string.Empty && LastModifiedHolder != null)
            {
                DateTime date;
                if (!DateTime.TryParse(LastModifiedHolder, out date))
                {
                    ToastService.ShowError("Bitte gib ein gültiges Format ein!", "Error");
                    return;
                }
                File.LastModified = LastModifiedHolder;
            }
            File.Name = Name;
            if (FileIsHidden & !File.Path.StartsWith("_"))
            {
                File.Path = "_" + File.Path;
            }
            File.IsDelete = FileIsDelete;
            Domain.InFileEdit = false;
            Domain.InvokeEvent();
        }
        else
        {
            ToastService.ShowError("Es gibt bereits eine Datei mit diesem Namen.", "Error");
        }
    }

    private void Abort()
    {
        Domain.InFileEdit = false;
        Domain.InvokeEvent();
    }

    private void ShowDownloadDisabledPrompt()
    {
        ToastService.ShowWarning("Du musst den Test erst speichern, bevor du den File downloaden kannst.", "Warnung");
    }

    private async void DownloadFile()
    {
        var responseMessage = await HttpClient.PostAsJsonAsync(DownloadUrl, File.Path + File.OriginalName);
        if (responseMessage.IsSuccessStatusCode)
        {
            var info = await responseMessage.Content.ReadFromJsonAsync<DownloadInfo>();
            if (info.Data != null)
            {
                await JsRuntime.InvokeAsync<object>("saveAsFile", File.Path + File.OriginalName, Convert.ToBase64String(info.Data));
            }
            else
            {
                Navi.NavigateTo($"Home/Error/{info.ErrorMessage}");
            }
        }
    }

}
