@page "/Account/ChangePassword"
@using System.Net.Http.Json
@using SubmissionEvaluation.Client.Services
@using SubmissionEvaluation.Shared.Classes.Messages
@inject HttpClient HttpClient
@inject NavigationManager NavigationManager
@inject PasswordRequirementsService PwService
@inject IToastService Toaster

<div class="shadow text-center loginbox">
    <div class="card post-area">
        <div class="post-header">Passwort ändern</div>
        <div class="card-body">
            @if (Model != null)
            {
                <EditForm Model="Model" OnValidSubmit="SendToServer">
                    <ValidationSummary/>
                    <DataAnnotationsValidator/>
                    <MessageHeader Model="Model"/>
                    <div class="form-group has-feedback">
                        <i class="oi oi-account-logout form-control-feedback"></i><label class="col-form-label">Altes Passwort</label>
                        <input type="password" @bind-value="Model.OldPassword" class="form-control" placeholder="Passwort"/>
                    </div>
                    <div class="form-group has-feedback">
                        <i class="oi oi-account-login form-control-feedback"></i><label class="col-form-label">Neues Passwort</label>
                        <input type="password" @bind-value="Model.Password" class="form-control" placeholder="Passwort"/>
                    </div>
                    <div class="form-group has-feedback">
                        <i class="oi oi-account-login form-control-feedback"></i><label class="col-form-label">Neues Passwort (Bestätigung)</label>
                        <input type="password" @bind-value="Model.ConfirmPassword" class="form-control" placeholder="Passwort"/>
                    </div>
                    <ValidationMessage For="() => Model.OldPassword" class="text-danger"/>
                    <ValidationMessage For="() => Model.Password" class="text-danger"/>
                    <ValidationMessage For="() => Model.ConfirmPassword" class="text-danger"/>
                    <div>
                        <ol style="list-style-type: none; padding-left: 33%; text-align: left;">
                            <li style="padding-bottom: 5px;">Passwort Anforderungen:</li>
                            <li id="pwLength" style="color: @ColorLength">- min. 12 Zeichen</li>
                            <li id="pwUp" style="color: @ColorUp">- min. ein Großbuchstabe</li>
                            <li id="pwLow" style="color: @ColorLow">- min. ein Kleinbuchstabe</li>
                            <li id="pwDigit" style="color: @ColorDigit">- min. eine Zahl</li>
                        </ol>
                    </div>
                    <hr/>
                    <div>
                        <input id="Update" name="Update" type="submit" class="btn btn-warning" value="Aktualisieren"/>
                    </div>
                </EditForm>
            }
        </div>
    </div>
</div>

@code {
    string ColorLength { get; set; }

    string ColorLow { get; set; }

    string ColorUp { get; set; }

    string ColorDigit { get; set; }

    ChangePasswordModel Model { get; set; } = new ChangePasswordModel();

    async void SendToServer()
    {
    // TODO: Error Messages anpassen und richtig auswerfen
        if (PwService.CheckRequirements(Model.Password) && Model.ConfirmPassword == Model.Password)
        {
            var res = await HttpClient.PostAsJsonAsync("api/Account/ChangePassword", Model);
            if (res.IsSuccessStatusCode)
            {
                Model = await res.Content.ReadFromJsonAsync<ChangePasswordModel>();
            }
            if (Model.HasSuccess)
            {
                NavigationManager.NavigateTo("Account/View");
            }
            else
            {
                StateHasChanged();
            }
        }
        else
        {
            var outputString = "";
            var errorList = PwService.GetRequirementsString();
            Model.HasError = true;
            Model.Message = ErrorMessages.WrongUserPassword;
            outputString += Model.MessageTranslation + "\n";

            SetColorsToGreen();

            foreach (var error in errorList)
            {
    // this.GetType().GetField("myVar").GetValue(this)
                switch (error)
                {
                    case "lengthFalse":
                        Model.Message = ErrorMessages.PasswordWrongLength;
                        outputString += "\n -" + Model.MessageTranslation;
                        ColorLength = "red";
                        break;
                    case "upperFalse":
                        Model.Message = ErrorMessages.PasswordNoUpper;
                        outputString += "\n -" + Model.MessageTranslation;
                        ColorUp = "red";
                        break;
                    case "lowerFalse":
                        Model.Message = ErrorMessages.PasswordNoLower;
                        outputString += "\n -" + Model.MessageTranslation;
                        ColorLow = "red";
                        break;
                    case "digitFalse":
                        Model.Message = ErrorMessages.PasswordNoDigit;
                        outputString += "\n -" + Model.MessageTranslation;
                        ColorDigit = "red";
                        break;
                }
            }

            Toaster.ShowError(outputString, "Passwortfehler");
            StateHasChanged();
        }
    }

    void SetColorsToGreen()
    {
        ColorLength = "green";
        ColorUp = "green";
        ColorLow = "green";
        ColorDigit = "green";
    }

}
