@page "/Submission/Add/{challengename}"
@page "/Submission/Add/{challengename}/{submissionId}"

@using System.Net.Http.Json
@using Member = SubmissionEvaluation.Contracts.ClientPocos.Member
@using SubmissionEvaluation.Shared.Models.Shared
@using SubmissionEvaluation.Client.Shared.Components.FileExplorer

@inject HttpClient HttpClient
@inject NavigationManager NavigationManager
@inject IToastService Toaster

<style>
    .container { max-width: 1140px; }
</style>

<div class="row">
    <div class="col-lg-3">
        <div class="shadow-bottom-center" style="margin-bottom: 10px">
            <div class="categories-list-header" style="border-bottom: none">
                Bisherige Einreichungen
            </div>
            <div>
                <button class="btn btn-outline-dark" style="width: 100%" type="button" @onclick="Reload">Aktualisieren</button>
            </div>
            <SubmissionList @bind-Model="Model"/>
        </div>
    </div>
    <div class="post-area col-lg-9">
        <div class="post-header">
            @($" Lösung für \"{Model.ChallengeTitle}\" einreichen")
        </div>
        <div class="post">
            @if (Model.HasError || Model.HasSuccess)
            {
                <div class="card-body challenge-creation-panel">
                    <MessageHeader Model="Model"/>
                </div>
            }
            @if (string.IsNullOrWhiteSpace(Model.SubmissionId) || Model.SelectedSubmission == null)
            {
                <EditForm Model="Model" OnValidSubmit="@Upload">
                    <div class="row">
                        <input type="hidden" @bind="Model.Id"/>
                        <div id="uploadframe" class="col-8">
                            <div class="upload-area">
                                <DropDownZone @bind-Files="TempHolder" Id="dropdownSubmission"/>
                                @if (TempHolder.Count == 0)
                                {
                                    <div>
                                        <p>
                                            Dateien hereinziehen oder hier klicken, um Dateien auszuwählen (max. 12 Dateien).
                                        </p>
                                        <p>
                                            Alternativ kann auch eine Zip-Datei hier hochgeladen werden.
                                        </p>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="col-4">
                            <div>
                                <button id="uploadButton" type="submit" class="btn btn-success btn-margin" style="width: 100%">Upload</button>
                            </div>
                            <div>
                                <button id="emptyButton" class="btn btn-outline-dark btn-margin" type="button" @onclick="DiscardHolder" style="width: 100%">Leeren</button>
                            </div>
                        </div>
                    </div>
                </EditForm>
            }
            else
            {
                <FullTestInfo @bind-Model="Model" RatingMethodForSelectedSubmission="RatingMethodForSelectedSubmission"/>
            }
        </div>
    </div>
</div>


@code {

    [Parameter]
    public string ChallengeName { get; set; }

    [Parameter]
    public string SubmissionId { get; set; }

    public UploadModel<Result, Member> Model { get; set; } = new UploadModel<Result, Member>();
    private List<DetailedInputFile> TempHolder { get; set; } = new List<DetailedInputFile>();
    private RatingMethod RatingMethodForSelectedSubmission { get; set; }

    protected override async void OnInitialized()
    {
        if (SubmissionId == null)
        {
            Model = await HttpClient.GetFromJsonAsync<UploadModel<Result, Member>>($"/api/Submission/Add/{ChallengeName}");
        }
        else
        {
            Model = await HttpClient.GetFromJsonAsync<UploadModel<Result, Member>>($"/api/Submission/Add/{ChallengeName}/{SubmissionId}");
        }
        if (Model.HasError)
        {
            NavigationManager.NavigateTo($"Home/Error/{Model.Message}");
        }
        RatingMethodForSelectedSubmission = await HttpClient.GetFromJsonAsync<RatingMethod>($"/api/Submission/GetRatingForSubmission/{ChallengeName}");
        StateHasChanged();
    }

    private async void Upload()
    {
        Model.UploadArchive = TempHolder;
        TempHolder = new List<DetailedInputFile>();
        var responseMessage = await HttpClient.PostAsJsonAsync($"api/Submission/UploadJSON/{ChallengeName}", Model.UploadArchive);
        if (responseMessage.IsSuccessStatusCode)
        {
            var result = await responseMessage.Content.ReadFromJsonAsync<GenericModel>();
            if (result.HasSuccess)
            {
                Toaster.ShowSuccess(result.MessageTranslation, "Erfolgreicher Upload");
            }
            else
            {
                Toaster.ShowError(result.MessageTranslation, "Upload fehlgeschlagen");
            }
        }
        Model = await HttpClient.GetFromJsonAsync<UploadModel<Result, Member>>($"/api/Submission/Add/{ChallengeName}");
        StateHasChanged();
    }

    private void DiscardHolder()
    {
        TempHolder = new List<DetailedInputFile>();
        StateHasChanged();
    }

    private async void Reload()
    {
        if (SubmissionId == null)
        {
            Model = await HttpClient.GetFromJsonAsync<UploadModel<Result, Member>>($"/api/Submission/Add/{ChallengeName}");
        }
        else
        {
            Model = await HttpClient.GetFromJsonAsync<UploadModel<Result, Member>>($"/api/Submission/Add/{ChallengeName}/{SubmissionId}");
        }
        Toaster.ShowInfo("Die bisherigen Einreichungen wurden erneut geladen.");
        StateHasChanged();
    }

}
