@page "/Challenge/ConfirmAction/{challengeId}/{action}"

@using System.Net.Http.Json
@using SubmissionEvaluation.Shared.Models.Admin
@using SubmissionEvaluation.Shared.Models.Permissions
@using SubmissionEvaluation.Shared.Classes
@using SubmissionEvaluation.Shared.Classes.Messages

@inject HttpClient HttpClient
@inject NavigationManager Navi

<div class="row">
    <div class="col-12">
        <div class="post-area post">
            @if (Model != null)
            {
                <p>@Model.ActivityMessage</p>
                <button @onclick="() => DoAction(Model.Challenge)" style="margin-left: 2pt" class="btn btn-danger btn-margin col-3">Aktion durchführen</button>
                <NavLink href="Challenges" style="margin-left: 2pt" class="btn btn-warning btn-margin col-3">Aktion nicht durchführen</NavLink>
            }
        </div>
    </div>
</div>

@code {

    [Parameter]
    public string ChallengeId { get; set; }

    [Parameter]
    public string Action { get; set; }

    ConfirmChallengeActionModel Model { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var permissions = await HttpClient.GetFromJsonAsync<Permissions>("api/Members/Permissions");
        if (!PermissionHelper.CheckPermissions(Actions.Edit, "Challenges", permissions, Restriction.Challenges, ChallengeId))
        {
            Navi.NavigateTo($"Home/Error/{ErrorMessages.NoPermission}");
        }
        else
        {
            Model = await HttpClient.GetFromJsonAsync<ConfirmChallengeActionModel>($"api/Challenge/GetConfirmActionModel/{ChallengeId}/{Action}");
        }
    }

    async void DoAction(string id)
    {
        switch (Action)
        {
            case "Delete":
                await HttpClient.DeleteAsync($"/api/Challenge/DeleteChallenge/{id}");
                Navi.NavigateTo("/Challenges");
                break;
        }
    }

}
